// ===========================
// 🎨 Variables
// ===========================

// الألوان الأساسية
$secondary-color: #f8f9fa;
$text-color: #212529;
$bg-color: #ffffff;
$accent-color: #ffc107; // أصفر للتنبيهات أو العروض

$primary-color: #d4af37; // اللون الذهبي
$white: #ffffff;
$black: #000000;
$overlay-color: rgba(0, 0, 0, 0.5);
$hero-height: 80vh;
// الخطوط
$base-font: 'Segoe UI', sans-serif;
$heading-font: 'Segoe UI', sans-serif;
$text-muted: #6c757d;

$header-bg-color: #121212;
$header-logo-color: #c1982d; // لون اسم المتجر التي في الهيدر
$offer-badge_addtocart-btn-bg-color: #d4af37;
$hero-heading_sections-heading-color: #f5f5f5;
$features-icons_features-card-heading-color: #d4af37;
$confirm-order-btn-bg-color: #d4af37;
$footer-bg-color: #121212;
$floating-cart-btn-bg-color: #d4af37;